body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF4F5;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif JP', serif;
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

footer {
    text-align: center;
    background-color: #DC143C;
    color: white;
    padding: 10px 0;
}
